@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background: rgb(143, 130, 130);
}

/* Nav */

.topnav {
  background-color: #990000;
  overflow: hidden;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 30px;

}

.topnav a:hover {
  background-color: #FFFDD0;
  color: #990000;
}

.homeImg{
width: 120px;
height: 75px;
padding: 0%;
}


.polls-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
    padding-bottom: 30px;
}

.polls-title-h1 {
    padding-left: 170px;
    padding-right: 200px;
    font-size: 50px;
    margin-top: 15px;
}

.polls-vote {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 40px;
    grid-row-gap: 40px;
}

/* Button Dropdown - With the help of W3 Schools https://www.w3schools.com/css/css_dropdowns.asp */

.dropbtn {
    margin-top: 15px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 24px;
    border: solid 2px crimson;
    cursor: pointer;
    border-radius: 40px;
    width: 350px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(220, 20, 60, 0.85);
  }

.leaderboard {
  margin-top: 15px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 24px;
    border: solid 2px crimson;
    cursor: pointer;
    border-radius: 40px;
    width: 350px;
}

.polls-element-h {
    margin-top: 35px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: solid 2px crimson;
    cursor: pointer;
    border-radius: 40px;
    width: 400px;
    margin-left: 100px;
}

.polls-element-a {
  margin-top: 35px;
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: solid 2px crimson;
  cursor: pointer;
  border-radius: 40px;
  width: 400px;
  margin-left: 100px;
}

/* help with "Awesome Poll UI Design" by Muhammad Fadzrin Madu */

::selection{
  color: #fff;
  background: crimson;
}

.poll-content {
  margin-top: 30px;
}

.wrapper{
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  max-width: 680px;
  margin-left: 320px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
}
.wrapper .poll-area{
  margin: 20px 0 15px 0;
}
.poll-area label{
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
}
.poll-area label:hover{
  border-color: crimson;
}
label.selected{
  border-color: crimson;
}
label .row{
  display: flex;
  pointer-events: none;
  justify-content: space-between;
}
label .row .column{
  display: flex;
  align-items: center;
}
label .row .circle{
  height: 19px;
  width: 19px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
label.selected .row .circle{
  border-color: crimson;
}
label .row .circle::after{
  content: "";
  height: 11px;
  width: 11px;
  background: crimson;
  border-radius: inherit;
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}
.poll-area label:hover .row .circle::after{
  display: block;
  background: crimson;
}
label.selected .row .circle::after{
  display: block;
  background: crimson;
}
label .row span{
  font-size: 16px;
  font-weight: 500;
}
label .row .percent{
  display: none;
}
label .progress{
  height: 7px;
  width: 100%;
  position: relative;
  background: #f0f0f0;
  margin: 8px 0 3px 0;
  border-radius: 30px;
  display: none;
  pointer-events: none;
}
label .progress:after{
  position: absolute;
  content: "";
  height: 100%;
  background: #ccc;
  width: calc(1% * var(--w));
  border-radius: inherit;
  transition: all 0.2s ease;
}
label.selected .progress::after{
  background: crimson;
}
label.selectall .progress,
label.selectall .row .percent{
  display: block;
}

.vote-button {
  border-color: #990000;
  color: #fff;
  box-shadow: 0 0 40px 40px #990000 inset, 0 0 0 0 #990000;
  transition: all 150ms ease-in-out;
}

.vote-button:hover {
  box-shadow: 0 0 10px 0 #990000 inset, 0 0 10px 4px #990000;
}
