/* Nav */

.topnav {
    background-color: #DC143C;
    overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 30px;
}
 
/* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FFFDD0;
    color: black;
}

.homeImg{
  width: 60px;
  height: 60px;
  padding: 0%;
}


.polls-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.polls-title-h1 {
    padding-left: 350px;
    padding-right: 350px;
}

.polls-vote {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 40px;
}

/* Button Dropdown - With the help of W3 Schools https://www.w3schools.com/css/css_dropdowns.asp */

.dropbtn {
    margin-top: 15px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: solid 2px crimson;
    cursor: pointer;
    border-radius: 40px;
    width: 200px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(220, 20, 60, 0.85);
  }

.leaderboard {
    margin-top: 15px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: solid 2px crimson;
    cursor: pointer;
    border-radius: 40px;
    width: 200px;
}

.polls-element {
    margin-top: 35px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: solid 2px crimson;
    cursor: pointer;
    border-radius: 40px;
    width: 400px;
    margin-left: 100px;
}