    .topnav {
      background-color: #DC143C;
      overflow: hidden;
      padding:0;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 25px;
      text-decoration: none;
      font-size: 30px;
  
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #FFFDD0;
      color: black;
    }
  
  .homeImg{
    width: 60px;
    height: 60px;
    padding: 0%;
  }

  body{
    background-color: #FFFDD0;
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .descriptors {
    font-weight: bold;
    margin-right: 10px;
    align-items: center;
  }
  
  .elements {
    color: red;
    align-items: center;
    text-align: center;
  }
  .profile{
    text-align: center;
  }
  

 

  