body {
    margin: 0;
    padding: 0;
}
    
.topnav {
background-color: #990000;
overflow: hidden;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins', sans-serif;
}

.topnav a {
float: left;
color: white;
text-align: center;
padding: 14px 25px;
text-decoration: none;
font-size: 30px;
font-family: 'Poppins', sans-serif;

}

.topnav a:hover {
background-color: #FFFDD0;
color: #990000;
font-family: 'Poppins', sans-serif;
}

.homeImg{
width: 120px;
height: 75px;
padding: 0%;
}

button{
    color: white;
    background-color:#990000;
    padding: 30px 30px;
    font-size: 20px;
    margin: 150px 10px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(182, 76, 37);
}
button:active{
    background-color: rgb(182, 76, 37);
}
h1{
    margin: 25px 10px;
}
input{
    width: 18%;
}
input[type=submit]{
    width: 5%;
    background-color:#990000;
}
table, th, td{
    border: 1px solid;
    width: 50%;
}
.tabledesign{
    border: 1px solid;
    border-collapse: collapse;
    width: 80%;
}
tr th:nth-child(1){
    width:20%;
}
tr th:nth-child(2){
    width:20%;
}
tr th:nth-child(3){
    width:40%;
}
tr th:nth-child(4){
    width:20%;
}

.comm{
    background-color: #990000;
    margin: 20px 10px;
    padding: 30px 30px;
    border-radius: 20px;
}
.editprofilebutton{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #990000;
    background-color: #990000;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .editprofilebutton:hover {
    background-color: #FFFDD0;
    color: #990000;
  }