    .topnav {
      background-color: #DC143C;
      overflow: hidden;
      padding:0;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 25px;
      text-decoration: none;
      font-size: 30px;
  
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #FFFDD0;
      color: black;
    }
  
  .homeImg{
    width: 60px;
    height: 60px;
    padding: 0%;
  }

    .cal {
        display:flex;
        justify-content:center;
        align-items:center;      
    }
    .sports p {
        color: black;
        text-align: center;
    }
    .sports button{
        font-size: large;
        font-weight: 600;
        background-color: #DC143C;
        color: black;
        text-align: center;
    }
  .sports {
    padding-bottom: 1rem;
    color:#DC143C;
    text-align: center;
  }

  body{
    background-color: #FFFDD0;
  }

  .container {
    font-family: sans-serif, Courier, monospace;
    border: 4px solid rgb(26, 2, 210);
    background-color: rgba(242, 163, 18, 0.5);
    background: linear-gradient(45deg, black, grey);
    border-radius: 10px 5px 2em / 20px 25px 30%;
    position: relative;
    height: 350px;
    width: 1200px;
    margin: 250px auto 0;
    padding: 2.0em 2.0em 1.0em;
  }
  
  .quote-text{
    position: relative;
  }
  
  .quote-text::before{
    content: open-quote;
    font-size: 100px;
  }
  p, q{
    font-size: 50px;
    color:white;
    font-weight: 300;
    text-shadow: -5px -5px 3px rgba(0, 0, 0, 0.3);
  }
  p{
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    text-align: right;
  }
  
  .loyal{
    font-size: 60px;
    font-weight: bold;
    color: blue;
  }